<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="ConnectionString" connectionString="Data Source=WIN-23AR349MI7S;Initial Catalog=DB_JUNTOS;User ID=midisdev;password=midisdev;"></add>
    </connectionStrings>
</configuration>