<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="ConnectionString" connectionString="data source=zerazobz;initial catalog=TestDataBase;user id=sa;password=h1d3p@ss;" ></add>
    </connectionStrings>
</configuration>
